body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    /* padding: 10px;  */
    padding: 0px;
}

.container {
    max-width: 800px;
    margin: auto;
    background: white;
    /* padding: 15px;  */
    padding: 5px; 
    padding-top: 1px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h3 {
    text-align: center;
    margin-bottom: 5px; 
}

.city {
    /* border: 1px solid #ddd; */
    padding: 10px; 
    padding-top: 0;
    margin-bottom: 15px; 
    border-radius: 5px;
}

.checkbox{
    display: flex;
    align-items: center;
}
.checkbox > label{
    margin-right: 10px;
    margin-bottom: 5px;
}

input[type="text"],
input[type="date"],
input[type="datetime-local"],
textarea {
    width: calc(100% - 18px); 
    padding: 8px; 
    margin-top: 3px; 
    border: 1px solid #ccc;
    border-radius: 4px;
}

textarea {
    resize: vertical;
}

label {
    display: block;
    margin-top: 5px; 
    font-weight: bold;
    font-size: 13px;
    color: #555;
}

.row {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    /* gap: 4px; */
}

.row > div {
    flex: 1;
    min-width: 150px; 
}

button {
    /* margin-top: 1px;  */
    padding: 8px 12px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}


.removeCityBtn{
    margin-top: 4px;
}



/* -------------CHECK CONTAINER------------------ */

.check {  
    display: flex;  
    flex-direction: column;  
    padding: 20px;   
    background-color: #f9f9f9;  
    /* border: 1px solid #ddd;    */
    border-radius: 8px;   
    max-width: 600px;   
    margin: 20px auto;   
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);  
    overflow: hidden; /* Скрывает переполняющий текст */  
}  

.checkCity {  
    margin-top: 20px;  
    margin-bottom: 28px;  
    border: 1px solid #ddd;  
    border-radius: 8px;  
    padding: 5px;  
    overflow: hidden; /* Скрывает переполняющий текст */  
}  

/* Стили для каждого блока с данными о городе */  
.check > div {  
    padding: 15px;  
    background-color: #fff;  
    /* border: 1px solid #e0e0e0;   */
    border-radius: 5px;  
    overflow: hidden; /* Скрывает переполняющий текст */  
    padding-top: 0;
}  

/* Стили заголовков */  
.check h1 {
    text-align: center;
    font-size: 24px; /* Размер шрифта заголовка */  
    margin-bottom: 10px; /* Отступ снизу */  
    color: #333; /* Цвет текста */  
}  

/* Стили заголовков */  
.check h3 {  
    font-size: 18px;  
    margin: 5px 0;  
    color: #555;  
    overflow-wrap: break-word; /* Перенос длинных слов */  
    word-wrap: break-word; /* Для совместимости */  
}  

/* Стили для span */  
.check span {  
    font-size: 19px;  
    margin: 5px 0;  
    color: black;  
    overflow-wrap: break-word; /* Перенос длинных слов */  
    word-wrap: break-word; /* Для совместимости */  
}

.error {
    border: 2px solid #ff9999;
    background-color: #ffe6e6;
    box-shadow: 0 0 5px rgba(255, 153, 153, 0.5); 
    transition: border-color 0.3s, background-color 0.3s; 
}