body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 15px; /* Уменьшен отступ */
}

.container {
    max-width: 800px;
    margin: auto;
    background: white;
    padding: 15px; /* Уменьшен отступ */
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h3 {
    text-align: center;
    margin-bottom: 5px; /* Уменьшен отступ снизу */
}

.city {
    border: 1px solid #ddd;
    padding: 10px; /* Уменьшен отступ */
    margin-bottom: 15px; /* Уменьшен отступ */
    border-radius: 5px;
}


label {
    display: block;
    margin-top: 5px; /* Уменьшен отступ сверху */
    font-weight: bold;
    font-size: 13px;
    color: #555;
}
.long_departure_date_to_hotel{
    font-size: 12px;
}


input[type="text"],
input[type="date"],
input[type="datetime-local"],
textarea {
    width: calc(100% - 18px); /* Уменьшен отступ */
    padding: 8px; /* Уменьшен отступ */
    margin-top: 3px; /* Уменьшен отступ */
    border: 1px solid #ccc;
    border-radius: 4px;
}

textarea {
    resize: vertical;
}

.row {
    display: flex;
    flex-wrap: wrap;
    gap: 8px; /* Уменьшен промежуток между элементами */
}

.row > div {
    flex: 1;
    min-width: 150px; /* Уменьшена минимальная ширина */
}

button {
    margin-top: 10px; /* Уменьшен отступ сверху */
    padding: 8px 12px; /* Уменьшен отступ */
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}